<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png"></a></div>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="/">홈페이지</a></li>
                            <li><a href="/write">게시판 작성하기</a></li>
                            <li><a href="/list">게시판 목록</a></li>
                        </ul>
                    </div>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h1 class="useful_text">Newsletter</h1>
                    <input type="text" class="Enter_text" placeholder="Enter Your Email" name="Enter Your Email">
                    <div class="subscribe_bt"><a href="#">Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">Copyright 2019 All Rights Reserved.<a href="https://html.design"> Free html
                Templates</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a> </p>
        </div>
    </div>
</footer>
</html>